## [作業重點]
目前你應該已經要很清楚資料集中，資料的型態是什麼樣子囉！包含特徵 (features) 與標籤 (labels)。因此要記得未來不管什麼專案，必須要把資料清理成相同的格式，才能送進模型訓練。
今天的作業開始踏入決策樹這個非常重要的模型，請務必確保你理解模型中每個超參數的意思，並試著調整看看，對最終預測結果的影響為何

## 作業

1. 試著調整 DecisionTreeClassifier(...) 中的參數，並觀察是否會改變結果？
2. 改用其他資料集 (boston, wine)，並與回歸模型的結果進行比較

# Project 1

In [2]:
# 載入套件
import pandas as pd
from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection import train_test_split
from sklearn.metrics import confusion_matrix, accuracy_score

In [ ]:
# iris資料集

In [3]:
# 載入資料
iris = pd.read_csv('C:/Users/hsu/Desktop/data/iris.csv')

In [5]:
# 設定特徵及目標
data = iris.copy()
X = data.drop('Species', axis = 1)
y = data['Species']

In [7]:
# 切分資料 
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2, random_state = 123)

In [52]:
method = ['entropy', 'gini']
for i in method:
    dt = DecisionTreeClassifier(criterion=i).fit(X_train, y_train)
    dtpred = dt.predict(X_test)
    print(i + '=' +  '{}'.format(accuracy_score(dtpred, y_test)))

entropy=0.8100558659217877
gini=0.8212290502793296

In [ ]:
# 鐵達尼資料集

In [40]:
tit = pd.read_csv('C:/Users/hsu/Desktop/data/titanic_train.csv')

In [41]:
tit.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [44]:
tit = tit.drop(['PassengerId', 'Name', 'Ticket', 'Cabin'], axis = 1)

In [45]:
tit['Age'] = tit['Age'].fillna(tit['Age'].mean())
tit['Embarked'] = tit['Embarked'].fillna('None')

In [46]:
X = tit.drop('Survived', axis = 1)
y = tit['Survived']

In [47]:
X_d = pd.get_dummies(X)

In [51]:
X_train, X_test, y_train, y_test = train_test_split(X_d, y, test_size = 0.2, random_state=123)

In [57]:
method = ['entropy', 'gini']
for i in method:
    dtt = DecisionTreeClassifier(criterion=i).fit(X_train, y_train)
    dttpred = dtt.predict(X_test)
    print(i + '=' + '{}'.format(accuracy_score(dttpred, y_test)))

entropy=0.7932960893854749
gini=0.8156424581005587